.d1{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: felx;
}
.d2{
    height: 90%;
    width: 90%;
    border: 2px solid black;
    margin: 8px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
}
.d3{
    height: 10px;
    width: 10px;
    border: 2px solid black;
    transform: translate(20px,60px);
    border-radius: 50%;
    background-color: black;
}
.d4{
    height: 10px;
    width: 10px;
    border: 2px solid black;
    transform: translate(120px,60px);
    border-radius: 50%;
    background-color: black;
}
.d5{
    height: 50px;
    width: 80px;
    border: 2px solid black;
    transform: translate(20px, 100px);
    border-end-end-radius: 50% ;
    border-bottom-left-radius: 50%;
    background-color: red;
}