.D1{
    animation-name: "mydiv";
    animation-delay: 3s;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-direction: normal;
}

@keyframes mydiv {
    from{
        width:500px;
        height:200px;
        border: 2px solid black;
       
    }
    to{
        border-radius: 50%;
        background-color: red;
    }
}