.mainContainer{
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    box-shadow: 2px 2px 2px black;
}
.smalldiv{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    background-color: gray;
    box-shadow: 2px 2px 2px black; 
    border-radius: 5%;
    font-weight: bold;
}