/* .d{
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 5px black dotted;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
} */
div{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
}
li{
    display: inline;
}